:root {
  --color-black-one: #313846;
  --color-black-two: #272D38;
  --color-black-three: #1F242D;

  --color-gray-one: #FFF;
  --color-gray-two: #DEDCDB;
  --color-gray-three: #B4AFAD;

  // --color-red-one: #E28997;
  // --color-red-two: #D34F64;
  // --color-red-three: #BA2E45;

  // --color-green-one: #42D0A8;
  // --color-green-two: #2CAF8A;
  // --color-green-three: #238C6E;

  --color-blue-one: #CFDCED;
  --color-blue-two: #8EADD5;
  --color-blue-three: #5A87C2;
  
  // --font-family-base: "";
  // --font-family-highlight: "";
}